In [1]:
import pandas as pd
import numpy as np
import scipy.stats
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
user_df = pd.read_json("../data/MOOCCube/entities/user.json",lines=True)
user_df = user_df[user_df['course_order'].apply(lambda x: len(x) >= 5)]
user = []
data_train = []
data_test = []
for index, row in user_df.iterrows():
    user_id = row["id"]
    courses = row["course_order"]

    index_partition = int(len(courses) * 0.75)

    courses_1 = courses[:index_partition]
    courses_2 = courses[index_partition:]
        
    for course in courses_1:
        data_train.append({
                "user_id":user_id,
                "course_id":course,
                "view":1
            })
            
    for course in courses_2:
        data_test.append({
            "user_id":user_id,
            "course_id":course,
            "view":1
        })

In [3]:
user_df.shape

(34917, 4)

In [4]:
df_train = pd.DataFrame(data_train)
df_test = pd.DataFrame(data_test)

In [5]:
df_train.head()

     user_id                                     course_id  view
0  U_7001215  C_course-v1:TsinghuaX+00740043_2x_2015_T2+sp     1
1  U_7001215             C_course-v1:TsinghuaX+30240184+sp     1
2  U_7001215    C_course-v1:TsinghuaX+00740043X_2015_T2+sp     1
3  U_7423998          C_course-v1:TsinghuaX+30240184_2X+sp     1
4  U_7423998                    C_course-v1:SCUT+145033+sp     1

In [5]:
df_train.shape

(187699, 3)

In [6]:
matrix = df_train.pivot_table(index='user_id', columns='course_id', values='view')
matrix = matrix.fillna(0)
matrix.head()

course_id,C_course-v1:ACCA+FA1_X+2019_T1,C_course-v1:ACCA+FA1_X+sp,C_course-v1:ACCA+FA1_X_en+2019_T1,C_course-v1:ACCA+FA2_X+2019_T1,C_course-v1:ACCA+FA2_X+sp,C_course-v1:ACCA+FA2_X_en+2019_T1,C_course-v1:ACCA+MA1_X+2019_T1,C_course-v1:ACCA+MA1_X+sp,C_course-v1:ACCA+MA1_X_en+2019_T1,C_course-v1:ACCA+MA2_X+2019_T1,...,C_course-v1:nxu+2018122711+2019_T1,C_course-v1:nxu+2018122712+2019_T1,C_course-v1:nxu+2018122713+2019_T1,C_course-v1:qdu+2018122608X+2018_T2,C_course-v1:qhnu+20181212x+2018_T2,C_course-v1:qhnu+20181212x+2019_T1,C_course-v1:rcoe+mooc103+2019_T1,C_course-v1:shsmu+shsmu001+2019_T1,C_course-v1:snnu+20180920X+2019_T1,C_course-v1:xuetangX+MOOC102+2019_T1
user_id,,,,,,,,,,,,,,,,,,,,,
U_10000144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U_10000168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U_10000185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U_10000205,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U_10000338,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
user_similarity = cosine_similarity(matrix)

In [8]:
user_similarity_df = pd.DataFrame(user_similarity, index=matrix.index, columns=matrix.index)

In [9]:
user_similarity_df.head()

user_id,U_10000144,U_10000168,U_10000185,U_10000205,U_10000338,U_10000415,U_10000491,U_10000598,U_1000063,U_10000658,...,U_9997782,U_9997920,U_9997937,U_9998306,U_9998657,U_9998753,U_9999250,U_9999541,U_9999650,U_9999791
user_id,,,,,,,,,,,,,,,,,,,,,
U_10000144,1.000000,0.258199,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.258199,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.258199
U_10000168,0.258199,1.000000,0.0,0.0,0.0,0.0,0.0,0.258199,0.2,0.000000,...,0.258199,0.200000,0.0,0.0,0.0,0.0,0.258199,0.0,0.000000,0.400000
U_10000185,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.288675,0.258199
U_10000205,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.204124,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
U_10000338,0.000000,0.000000,0.0,0.0,1.0,0.0,0.0,0.000000,0.0,0.000000,...,0.288675,0.223607,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000

In [10]:
groupedTrain = df_train.groupby('user_id')['course_id'].apply(list).reset_index()
groupedTest = df_test.groupby('user_id')['course_id'].apply(list).reset_index()
def getUserCourses(user,df_user):
    return df_user.loc[df_user['id'] == user, 'course_order'].values[0]
def  getUserCoursesTest(user):
    return groupedTest.loc[groupedTest['user_id'] == user, 'course_id'].values[0]
def  getUserCoursesTrain(user):
    return groupedTrain.loc[groupedTrain['user_id'] == user, 'course_id'].values[0]

In [133]:

def recommend(user,num_recomendations=15):
    user_taken_courses = getUserCoursesTrain(user)
    user_predict_courses = getUserCoursesTest(user)
    similar_users_to_user = user_similarity_df.loc[user].sort_values(ascending=False)[1:20]
    similar_users_to_user_df = pd.DataFrame(similar_users_to_user)
    similar_users_ids = []
    for index, row in similar_users_to_user_df.iterrows():
        similar_users_ids.append({"user_id":index,"relevance":row[user]})
    recomendations = {}
    for similar_user in similar_users_ids:
        courses_taken_similar = getUserCourses(similar_user["user_id"],user_df)
        not_taken_user_courses = list(set(courses_taken_similar)-set(user_taken_courses))
        for not_taken_user_course in not_taken_user_courses:
            num = recomendations.get(not_taken_user_course,0)
            recomendations[not_taken_user_course] = num + similar_user["relevance"]
    for i in recomendations:
        recomendations[i] = recomendations[i]/len(similar_users_ids)
    recomendations_ordered = sorted(recomendations.items(), key=lambda x: x[1], reverse=True)
    recomendations_ordered = [recomendation[0] for recomendation in recomendations_ordered]
    return recomendations_ordered[:num_recomendations]

In [134]:
df_results = user_df
df_results = df_results.drop(["name","enroll_time"], axis=1)
print(df_results.shape)

df_results["recommendations"] = df_results["id"].apply(recommend)
df_results.head()

(34917, 2)

,id,course_order,recommendations
0,U_7001215,"[C_course-v1:TsinghuaX+00740043_2x_2015_T2+sp,...","[C_course-v1:TsinghuaX+30240243X+sp, C_course-..."
3,U_7423998,"[C_course-v1:TsinghuaX+30240184_2X+sp, C_cours...","[C_course-v1:TsinghuaX+30240243X+sp, C_course-..."
4,U_545306,"[C_course-v1:TsinghuaX+20430064_2X+sp, C_cours...","[C_course-v1:TsinghuaX+20250064+sp, C_course-v..."
7,U_7594103,"[C_course-v1:TsinghuaX+30240184+sp, C_course-v...","[C_course-v1:TsinghuaX+00740043_2x_2015_T2+sp,..."
13,U_3234246,"[C_course-v1:TsinghuaX+00740123_X+sp, C_course...","[C_course-v1:TsinghuaX+30240184+sp, C_course-v..."

In [135]:
def get_test_courses(x):
    index_partition = int(len(x) * 0.75)
    return x[index_partition:]

In [136]:
df_results["test_courses"] = df_results["course_order"].apply(get_test_courses)

In [147]:
num_users = 0
t_precision = 0
rank = 0
for index, row in df_results.iterrows():
    test_courses = set(row["test_courses"])
    recommendations = set(row["recommendations"][:5])
    # print(len(test_courses))
    precision = len(test_courses.intersection(recommendations))/len(test_courses)
    if len(test_courses) < 5:
        precision = len(test_courses.intersection(recommendations))/len(test_courses)
    else:
        precision = len(test_courses.intersection(recommendations))/5
    num_users += 1
    t_precision += precision
    
    r = 0
    for i in row["recommendations"]:
        r += 1
        if i in row["test_courses"]:
            break
    rank += 1/r

In [151]:
print((1/num_users)*rank)

0.41750178442776853

In [148]:
print(num_users)

34917

In [149]:
print(t_precision)

10862.966666666716

In [150]:
print(t_precision/num_users)

0.3111082471766394